
body{
    background-color: rgb(242, 241, 239);
    background-image: url('https://cdn.pixabay.com/photo/2016/06/02/18/14/polaroid-1431735_1280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    text-align: left;
}

@media (max-width: 350px) {
    header{
        height: 8vh;
    }
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: visible;
   
  }

header {
display: flex;
width: auto;
height: 5vh;
text-align: left;
justify-content: space-around;
}

#nav-bar {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  
  .nav-link {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 17px;
}
ul {
    list-style: none;
    display: flex;
  }

.top{
position: sticky;
top: 30px;
}

header a{
    text-decoration: none;
}

.logo{
    width: 40px;
    height: 35px;
}

#header-image {
    background-size: cover;
    position: sticky;
    padding: 40px 0px;

}

 .first {
    height: 20vh;
}

main{
    align-items: left;
}

#form{
    text-align: center;
}

.second{
    height: 60vh;
    text-align: center;
}

.third{
    height: 14vh;
    color: rgb(21, 23, 23);
    justify-content: center;
    text-align: left;
    padding-right: 49px;
    padding-top: 0px;
}

.third a{
    text-decoration: none;
}

.contents{
    display: flex;
    justify-content: space-around;

}

.contents .explanation{
    padding-left: 50px;
    text-align: left;
}

button{
    background-color: yellow;
}

#video {
    width: 400px;
    height: 260px;
    padding-right: 8px;
}

